<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http:/www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="service" class="com.soufiane.spring.service.ServiceImpl">
		<constructor-arg index="0">
			<ref bean="dao" />
		</constructor-arg>
	</bean>
<!-- 	<bean id="dao" class="com.soufiane.spring.dao.DaoImplList" -->
<!-- 		init-method="init"> -->
<!-- 	</bean> -->
	
	<bean id="dao" class="com.soufiane.spring.dao.DaoImplJDBC" init-method="init"/>
</beans>